body{
    background: url(https://besthqwallpapers.com/img/original/9525/roads-crossroads-choice-of-the-way-choice-of-road-road-ahead.jpg) no-repeat center center fixed;
    background-size: cover;
}

.princ{
    margin:0 auto;
    margin-top: 20%;
    padding: 0%;
}

.princ2{
    margin-top: 15%;
}

.modal-content{
    background-color: rgb(255, 255, 255);
    opacity: .95;
    box-shadow: 0px 0px 7px midnightblue;
}

.logo{
    margin-top: -50px;
}

.text-start{
    margin-top: 5px;
    margin-left: 8px;
}

.table-modal-dialog{
    margin-top: -12px;
}

